[submodule "jns42-schema-draft-04"]
	path = jns42-schema-draft-04
	url = ../jns42-schema-draft-04
	ignore = all
[submodule "jns42-schema-draft-06"]
	path = jns42-schema-draft-06
	url = ../jns42-schema-draft-06
	ignore = all
[submodule "jns42-schema-draft-07"]
	path = jns42-schema-draft-07
	url = ../jns42-schema-draft-07
	ignore = all
[submodule "jns42-schema-draft-2019-09"]
	path = jns42-schema-draft-2019-09
	url = ../jns42-schema-draft-2019-09
	ignore = all
[submodule "jns42-schema-draft-2020-12"]
	path = jns42-schema-draft-2020-12
	url = ../jns42-schema-draft-2020-12
	ignore = all
[submodule "jns42-schema-intermediate-a"]
	path = jns42-schema-intermediate-a
	url = ../jns42-schema-intermediate-a
	ignore = all
[submodule "jns42-schema-intermediate-b"]
	path = jns42-schema-intermediate-b
	url = ../jns42-schema-intermediate-b
	ignore = all
[submodule "jns42-schema-oas-v3-1"]
	path = jns42-schema-oas-v3-1
	url = ./jns42-schema-oas-v3-1/
	ignore = all
